@page
@model IndexModel
@{
    ViewData["Title"] = "My Library";
}
<br />
<a asp-page="/Books/Add" class="btn btn-success">Add new book</a>
<br /> 
<br />  
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td><a asp-page="/Books/Details" asp-route-id="@book.BookId">@book.Title</a></td>
                <td><a asp-page="/Authors/Details" asp-route-id="@book.AuthorId">@book.Author</a></td>
                <td>@book.Status</td>
            </tr>
        }
    </tbody>
</table>
